<!DOCTYPE html>
<html ng-app="movieFlix">
<body>
<header>
    <ul class="nav nav-pills">
        <li><a href="#/allMoviesSeries">List Of Movie and Series</a></li>
        <li><a href="#/onlyMovies">Movies</a></li>
        <li><a href="#/onlySeries">Tv Series</a></li>
        <li><a href="#/topMovies">Trending Movies</a></li>
        <li><a href="#/topSeries">Trending TV Shows</a></li>
        <li><a href="#/login">Log out</a></li>
    </ul>
</header>


<section ng-view>


</section>

</body>
</html>