<!DOCTYPE html>
<html ng-app="movieFlix">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<body>
<div class="container">
    <div class="row">
        <h3 class="heading-desc">
                Login</h3>
<form class="form-signin mg-btm" name="loginForm" ng-submit="loginVm.processLoginForm()" novalidate>
    <div class="main">
        <div class="input-group">
        <label for="emailid">Email ID</label>
        <input type="text" class="form-control" name="emailid" id="emailid" ng-model="loginVm.login.emailid" placeholder="Your User Name" required>
        </div>
        <div ng-messages="loginForm.emailid.$error" class="error" ng-if="loginForm.emailid.$dirty">
            <p ng-message="required">Email ID cannot be empty</p>
            <p ng-message="emailid">Email ID is Invalid</p>
        </div>


        <div class="input-group">
        <label for="password">Password</label>
        <input type="text" class="form-control" name="password" id="password" ng-model="loginVm.login.password" placeholder="Your password " required>
        </div>
        <div ng-messages="loginForm.password.$error" class="error" ng-if="loginForm.password.$dirty">
            <p ng-message="required">Password cannot be empty</p>
            <p ng-message="password">Password is Invalid</p>
        </div>

        <div class="row">
        <div class="col-xs-6 col-md-6">
             
        </div>
        <div class="col-xs-6 col-md-6 pull-right">
            <button type="submit" class="btn btn-default" ng-disabled="loginForm.$invalid">Login</button>
        </div>
        </div>
        </div>
</form>
        </div>
</div>
</body>
</html>