<div class="container">

    <table class="my-controller">


        <thead>
        <tr>

            <th ng-click="movieVm.changeSort('Title')">Title</th>
            <th ng-click="movieVm.changeSort('Year')">Year</th>
            <th ng-click="movieVm.changeSort('Rated')">Rated</th>
            <th ng-click="movieVm.changeSort('Released')">Released</th>
            <th ng-click="movieVm.changeSort('Actors')">Actors</th>
            <th ng-click="movieVm.changeSort('Language')">Language</th>
            <th ng-click="movieVm.changeSort('imdbRating')">imdbRating</th>
            <th ng-click="movieVm.changeSort('imdbVotes')">imdbVotes</th>
            <th ng-click="movieVm.changeSort('imdbID')">imdbID</th>
            <th ng-click="movieVm.changeSort('Type')">Type</th>

        </tr>
        </thead>
        <tbody>
        <tr dir-paginate="movie in movieVm.movies | filter: movieVm.searchText |orderBy:movieVm.sorter.by:movieVm.sorter.reverse |itemsPerPage: pageSize">
            <td><a ng-href="#/movieListDetail/{{movie.imdbID}}">{{movie.Title}}</a></td>
            <td>{{movie.Year}}</td>
            <td>{{movie.Rated}}</td>
            <td>{{movie.Released}}</td>
            <td>{{movie.Actors}}</td>
            <td>{{movie.Language}}</td>
            <td>{{movie.imdbRating}}</td>
            <td>{{movie.imdbVotes}}</td>
            <td>{{movie.imdbID}}</td>
            <td>{{movie.Type}}</td>
        </tr>
        </tbody>
    </table>
    <div class="text-center">
            <dir-pagination-controls boundary-links="true" template-url="dirPagination.tpl.html"></dir-pagination-controls>
    </div>

</div>