<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rate & Comment</title>
</head>
<body>

<form name="ratingForm" ng-submit="ratingVm.processRatingForm()">

    <div class="form-group">
        <select class="form-control" name="rating" id="rating" ng-model="ratingVm.rating.rating">
            <option value="1">1 star</option>
            <option value="2">2 star</option>
            <option value="3">3 star</option>
            <option value="4">4 star</option>
            <option value="5">5 star</option>
        </select>
        <div ng-messages="ratingForm.rating.$error" class="error" ng-if="formData.rating.$dirty">
        <p ng-message="required">Rating cannot be empty</p>
        </div>
    </div>
    <div class="form-group">
        <label for="comment">Comment</label>
        <input type="text" class="form-control" name="comment" id="comment" ng-model="ratingVm.rating.comment" placeholder="Your comment please .. " required minlength="5">
        <div ng-messages="ratingForm.comment.$error" class="error" ng-if="ratingForm.comment.$dirty">
            <p ng-message="required">Comment cannot be empty</p>
            <p ng-message="minlength">Comment must be more than 4 chars</p>
        </div>
    </div>
    <button type="submit" class="btn btn-default" ng-disabled="ratingForm.$invalid">Submit</button>
</form>

</body>
</html>