<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>

<div class="container">
    <div class="row">

        <h3 class="heading-desc">
            Login</h3>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<form class="form-signin mg-btm" name="registerForm" ng-submit="registerVm.processRegisterForm()" novalidate>
    <div class="main">
        <div class="input-group">
        <label for="firstname">First Name</label>
        <input type="text" class="form-control" name="firstname" id="firstname" ng-model="registerVm.register.firstname" placeholder="Your First Name" required minlength="3">
        </div>
        <div ng-messages="registerForm.firstname.$error" class="error" ng-if="registerForm.firstname.$dirty">
            <p ng-message="required">First Name cannot be empty</p>
            <p ng-message="minlength">First Name must be more than 3 chars</p>
        </div>

        <div class="input-group">
        <label for="lastname">Last Name</label>
        <input type="text" class="form-control" name="lastname" id="lastname" ng-model="registerVm.register.lastname" placeholder="Your last Name" required minlength="10">
        </div>
        <div ng-messages="registerForm.lastname.$error" class="error" ng-if="registerForm.lastname.$dirty">
            <p ng-message="required">Last Name cannot be empty</p>
            <p ng-message="minlength">Last Name must be more than 2 chars</p>
        </div>

        <div class="input-group">
        <label for="emailid">Email ID</label>
        <input type="text" class="form-control" name="emailid" id="emailid" ng-model="registerVm.register.emailid" placeholder="Your Email ID" required minlength="10">
        </div>
        <div ng-messages="registerForm.emailid.$error" class="error" ng-if="registerForm.emailid.$dirty">
            <p ng-message="required">Email ID cannot be empty</p>
            <p ng-message="minlength">Email ID must be more than 2 chars</p>
        </div>


        <div class="input-group">
        <label for="password">Password</label>
        <input type="text" class="form-control" name="password" id="password" ng-model="registerVm.register.password" placeholder="Your password " required minlength="6">
        </div>
        <div ng-messages="registerForm.password.$error" class="error" ng-if="registerForm.password.$dirty">
            <p ng-message="required">Password cannot be empty</p>
            <p ng-message="minlength">Password must be more than 5 chars</p>
        </div>
        <div class="row">
        <div class="col-xs-6 col-md-6">
             
        </div>
        <div class="col-xs-6 col-md-6 pull-right">
            <button type="submit" class="btn btn-default" ng-disabled="registerForm.$invalid">Add User</button>
        </div>
        </div>
    </div>
</form>
    </div>
</div>
</body>
</html>