.error p{
    color:red;
    margin: 0;
}

section {
    min-height: 400px;
}
.my-controller {
    border: 1px solid #fcc;
    padding: 5px;
    margin: 3px;
}
.my-controller small {
    color: #c99;
}